<div class="comment <%= 'selected' if selected %>">
  <div id="a-<%= shout.id %>">
    <%= format_and_link_user(shout.user) %>
    -
    <%= format_model_body(shout) %>
    <%= link_to "Edit", edit_shout_path(shout) if user_has_edits? %>
  </div>
</div>