<div id="main-contain" class="with_stream">
  
  <div class="shouts-wrapper">
    <% @before_shouts.each do |shout| %>
      <%= render 'shout', shout: shout, selected: false %>
    <% end %>
    
    <!-- lol jon does not like page breaks -->
    <br />
    <br />
    
    <%= render 'shout', shout: @shout, selected: true %>
    
    <!-- lol jon does not like page breaks -->
    <br />
    <br />
    
    <% @after_shouts.each do |shout| %>
      <%= render 'shout', shout: shout, selected: false %>
    <% end %>
  </div>
  
</div>

<%= render partial: "shared/recent_activity" %>