<section id="forum" class="with_stream">
  <ul class="titles">
    <li class="forum_title">Forum</li>
    <li class="topic_title">Topics</li>
    <li class="post_title">Posts</li>
    <li class="last_activity_title">Last Activity</li>
  </ul>
  <% @forums.each do |forum| %>
    <ul class="forum_row">
      <li class="forum_name"><%= link_to forum.name, forum_path(forum) %></li>
      <li class="forum_topic"><%= forum.topics.count %></li>
      <li class="forum_post_count"><%= forum.posts.count %></li>
      <li class="forum_last_activity">      
        <% if forum.last_activity %>
          <% if forum.last_activity.is_a?(Topic) %>
            <%= link_to forum.last_activity.name, forum_topic_path(forum, forum.last_activity) %>
          <% else %>
           <%= link_to forum.last_activity.topic.name, forum_topic_path(forum, forum.last_activity.topic) %>
          <% end %>
          by <%= format_and_link_user(forum.last_activity.user) %> 
          <%= time_ago_in_words forum.last_activity.updated_at %> ago
          <% else %>
          None
        <% end %>
      </li>
    </ul>
  <% end %>
</section>
<%= render partial: "shared/recent_activity" %>
