
  <table id="forum">
    <tr>
      <th>Votes</th>
      <th> </th>
      <th>Topic</th>
      <th>Created By</th>
      <th>Last Post</th>
    <% @topics.each do |topic| %>
    <tr class="<%= cycle(" selected", "") %>">
      <td><%= topic.votes.count %></td>
      <td>
        <%= vote_link_for_topic(topic) %>
      </td>
      <td><%= link_to topic.name, forum_topic_path(@forum, topic) %></td>
      <td>
        <%= format_and_link_user(topic.user) %>
        <%= time_ago_in_words topic.created_at %> ago
      </td>
      <td>
        <% if topic.last_post %>
          by <%= format_and_link_user(topic.last_post.user) %> 
          <%= time_ago_in_words topic.last_post.updated_at %> ago
        <% else%>
          None
        <% end %>
      </td>

    </tr>
    <% end %>
  <table>

  <% if user_signed_in? %>
    <h2>New Topic</h2>

    <div>
    <%= form_for Topic.new, url: forum_topics_path(@forum) do |f| %>
      <div>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.text_area :body %>
      </div>
      <%= f.submit %>
    <% end %>
    </div>
  <% end %>
  