<div>
  <h2>Forum</h2>

  <div>
    <% @forums.each do |forum| %>
      <p><%= forum.name %></p>
    <% end %>
  </div>

  <div>
  <%= form_for Forum.new do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
  </div>
</div>

<br />
<br />


<div>
  <h2>Users</h2>
  
  <% @users.each do |user| %>
  <p>
    <%= user.name %> 
    <%= link_to "Make Admin", make_admin_path(user) unless user.admin? %>
    <%= link_to "Remove Admin", remove_admin_path(user) if user.admin? %>
  </p>
  <% end %>
</div>