<%= render partial: 'shared/my_account_nav' %>

<div id="edit-account">
  <div id="account">
    <h1>Account</h2>
    <div>
      Pet:
        <%= user_pet(current_user) %>
        <%= link_to "Generate Pet for 5 Edits", generate_pet_path(current_user) %>
    </div>
    <br />
    <div>
      <%= image_tag @user.avatar.url(:thumb) %> 
    </div>
    <div>
      <%= simple_form_for @user do |f| %>
        <%= f.input :avatar, label: false %>
        <%= f.input :name %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>