
<div id="users-list" class="with_stream">
  <table id="users-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Activity</th>
        <th>Last Seen</th>
      </tr>
    </thead>
  <% @users.each do |user| %>
    <tr class="<%= cycle("selected", "") %>">
      <td>
        <%= format_and_link_user(user) %>
      </td>
      <td>
        <%= format_activity_log(user.last_activity) %>
      </td>
      <td>
        <%= time_ago_in_words(user.last_seen) if user.last_seen %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<%= render partial: "shared/recent_activity" %>