<h2><%= @user.name %></h2>

<div>
  <%= link_to "View Page", user_page_path(@user) if @user.page %>
</div>

<br/>

<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>

<h2>Mentions</h2>

<% @mentions.each do |mention| %>
  <div class="<%= cycle("selected", "") %>">
    <%= mentionable_summary(mention) %>
  </div>
<% end %>