<div id="sticker" class="stream">
  <div class="stream_wrap" id="recent_activity">
  </div>
</div>

<script type="text/javascript">
$(function() {
  al = new ActivityLog();
  al.start();
});
</script>