<h2>Users</h2>
<p>
  The following users are currently online:
</p>
<% @users.each do |user| %>
<p><%= link_to user.name, user_path(user) %></p>
<% end %>
<p>
  you may also enjoy viewing <%= link_to "all the users", users_path %></li>
</p>