<%= render partial: 'shared/my_account_nav' %>

<div id="edit-account">
  <div class="user-markdown-wrap">
  <h2>User Page</h2>
    <%= link_to "View Page", u_page_path(@user.name) if @user.page %>
    <%= link_to "Destroy Page", user_page_path(@user), method: :delete if @user.page %>
    <%= link_to "Create Page", user_page_path(@user), method: :post unless @user.page %>

    <% if @user.page %>
      <%= form_for @user.page, url: user_page_path(@user) do |f| %>
        <div id="markdown">
          <p>Markdown</p>
          <%= f.text_area :markdown, class: "user-markdown" %>
          <div id="user-markdown">
          </div>
        </div>
        <div id="scss">
          <p>SCSS</p>
          <%= f.text_area :style, class: "user-style" %>
          <div id="user-style">
          </div>
        </div>
        <div>
          <%= f.submit "Update Page" %>
        </div>
      <% end %>
    

      <%= javascript_include_tag "ace", "mode-scss", "mode-markdown", "theme-twilight" %>
      <script type="text/javascript">
      $(function() {
        u = new UserPageEdit(ace);
      });
      </script>
    <% end %>
  </div>
</div>