@import "variables";

// Place all the styles related to the shouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shoutbox {
  h2 {
    margin-bottom: 15px;
  }
  
  .shouts-wrapper {
    padding: 5px;
  }

	#new_shout {
		margin-bottom: 2em;
	}

	.shout-input {
		float: left;
		margin-right: 10px;
		width: 350px;
	}

	.shout-submit {
		@include button;
	}
}