@import "variables";

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-account {
  margin-top: 25px;

  input[type="submit"] {
    @include button;
    width: 159px;
  }

  .edit_page > div {
    display: inline-block;
    width: 49%;
  }

  #markdown {
    margin-right: 1%;
  }
}

#account {
  .avatar_wrap {
    height: 100px;
    width: 100px;
  }

  .avatar {
    height: 100px;
    width: 100px;
    
    img {
      width: 100px;
    }
  }

  input[type="file"] {
    margin: 11px 0 19px 0;
  }

  form {
    font-size: 20px;
    overflow: hidden;
  }
  
  .input {
    margin: 10px;
  }
  
  label {
    padding: 5px;
  }
}

.user-markdown-wrap {
  overflow: hidden;
	width: 100%;

  input[type="submit"] {
    margin-top: 15px;
  }
  
  .input {
    margin: 5px;
  }
}

#user-markdown, #user-style {
  height: 200px;
}