<html>
<head>
<title>ObX <%= "(#{current_user.mentions.unseen.count})" if user_signed_in? && (current_user.mentions.unseen.count > 0) %></title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <header role="banner">
    <div id="user-nav">
      <div id="logo">
        <h1><%= link_to "ObX", root_path %></h1>
      </div>

      <div id="nav">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Forum", forums_path %></li>
          <% end %>
        </ul>
      </div>

      <% if user_signed_in? %>
        <div id="user-nav-logged-in">
          <% if current_user.edits? %>
            <strong><%= pluralize(current_user.edits, "Edit") %></strong> |
          <% end %>
          <%= link_to (pluralize(User.online.count, "User") + " Online"), online_users_path, class: "online-users-count" %> | 
          <%= format_and_link_user current_user %> |
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
        
        <script type="text/javascript">
        $(function() {
          users = new Users();
          users.start();
        });
        </script>
      <% else %>
        <div id="user-nav-logged-out">
          <%= render partial: "layouts/sign_in_form" %>
        </div>
      <% end %>
    </div>
  </header>
  
  <div id="content">
    
    <% if flash[:notice] && flash[:notice].present? %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
    <br />
    <% end %>
    
    <%= yield %>
    
  </div>

</body>
</html>